<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Information</title>
</head>
<body>
    <div class="container">
        <h1>Veuillez remplir les informations :</h1>
        <form action="{{ url_for('final_form') }}" method="POST">
            <label for="age">Âge:</label>
            <input type="number" id="age" name="age" required>

            <label for="niveau">Niveau:</label>
            <select id="niveau" name="niveau">
                <option value="Oui, débutant">Oui, débutant</option>
                <option value="Oui, intermédiaire">Oui, intermédiaire</option>
                <option value="Oui, avancé">Oui, avancé</option>
                <option value="Non">Non</option>
            </select>

            <label for="sexe">Sexe:</label>
            <select id="sexe" name="sexe" required>
                <option value="">Veuillez choisir</option>
                <option value="Femme">Femme</option>
                <option value="Homme">Homme</option>
                <option value="Autre">Autre</option>
            </select>

            <button type="submit">Valider</button>
        </form>
    </div>
</body>
</html>