body {
    margin: 0;
    padding: 0;
    background: url('../images/fond_poker.png') no-repeat center center fixed;
    background-size: cover;
    font-family: Georgia, sans-serif;
    color: #f6f1f1;
}

h1, h2, h3, h4, h5, h6 {
    color: #f6f1f1;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #69cb69;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

button.green {
    background-color: #69cb69;
    color: #f6f1f1;
}

button.red {
    background-color: #e14545;
    color: #f6f1f1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
}

.cards {
    margin: 20px 0;
}

.personal-cards, .community-cards {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.actions {
    margin-top: 20px;
}

.header {
    background: url('../images/fond_poker.png') no-repeat center center/cover;
    padding: 20px;
    text-align: center;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
}